* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
    background-color: #2a607c;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: center;

}
/* grouped lead,brand,cost into group to make it look cleaner since the changes apply to these 3 benefits*/
.benefit-group h3{
    margin-bottom: 32px;
    text-align: center;
}

.benefit-group h2{
    text-align: center;
}

.benefit-group img,
.benefit-group img,
.benefit-group img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    margin-bottom: 60px;
    text-align: center;
}
  /* organized the code here so that it wasnt all over the place, since changes apply to these 3 items as opposed to all 3 sections having the same code*/

.search-engine-optimization,
.online-reputation-management ,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    font-size: 36px;
    
    
}
 /* organized them together again since the max-height applies to all 3 instead of writing the same thing for all 3*/ 
.search-engine-optimization img ,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
    text-align: center;
    margin-bottom: 0px;
}

/* organized it together so you dont have to write it for each one seperately*/
 /* left footer as it is but changed it in html since it was not in semantic*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}